.game
  markdown:
    # World of tanks
    - - -
    ぼちぼち暇な時に遊んでいます．
    最近は21:00頃から拠点戦に参加させて頂いています．

    好きな車両はT-34-85， かっこいいですよね．

    Tier4-6当たりを好んで回していますので，同Tier帯で遊びたい方は，

    気軽に声をかけてくださると大変嬉しいです．

  .wot
    h3
      | Signature
    img src="http://wotlabs.net/sig_dark/sea/dot_vimrc/signature.png"
    .my-panel-list
      a.my-panel#link (
        href="http://worldoftanks.asia/community/accounts/2005457261-dot_vimrc"
        target="_blank"
      )
        | UserProfile
      a.my-panel#link (
        href="http://worldoftanks.asia/community/clans/2000004563/"
        target="_blank"
      )
        | ClanPage
      a.my-panel#link (
        href="http://www.noobmeter.com/player/sea/dot_vimrc/2005457261/"
        target="_blank"
      )
        | NoobMetar
      a.my-panel#link (
        href="https://twitter.com/hettanrc"
        target="_blank"
      )
        | Twitter

