markdown:
  # 概要
  - - -

    基本的には，[github](https://github.com/MaxMEllon)
    に成果物をあげています

    また，気が向いたりコーディングに集中できなかったり躓いた時は，

    下記のコミュニティでプログラミング生放送を行ったりしています

iframe (
    width="312"
    height="176"
    src="http://ext.nicovideo.jp/thumb_community/co2585055"
    scrolling="no"
    style="border:solid 1px #000"
    frameborder="0"
  )
  a href=""http://com.nicovideo.jp/community/co2585055"
    NicoNicoComunty[.melon.d/.melonrc]

markdown:
  # 現在作成中のもの
  - - -

  - [wot-clan-status[rails]](https://github.com/WoTRailsProject/wot-clan-status)

      オンライン共同開発中 wot-clanのあれこれを確認できるwebサービスになる予定

  - [easy-linkst[rails]](https://github.com/WoTRailsProject/wot-clan-status)

      web-siteのリンクを簡単に管理するwebアプリ．ユーザは自分だけの予定のためログイン機能なし

