/*! my-styile */
$base-bg-color: #222222
$base-font-color: #ffffff
$main-width: 960px

body#base
  color: $base-font-color
  background: $base-bg-color
  font-family: "メイリオ", sans-serif

  // head
  .head
    width: 100%
    height: 90px
    background: white
    color: black
    .big-title
      font-size: 50px
      border-bottom: 1px solid black
    .sub-title
      font-size: 15px
      float: right

  // nav
  $nav-height: 35px
  $nav-bg: #000000
  $nav-color: #ffffff
  .my-nav
    height: $nav-height
    width: 100%
    background: $nav-bg
    padding-top: 6px
    .my-nav-btn
      //top, right, buttom, left
      padding: 6px 30px 6px 30px
      text-decoration: none
      &:link
        color: $nav-color
      &:visited
        color: $nav-color
      &:hover
        background: $nav-color
        color: $nav-bg
        border-bottom: solid 5px red

  // side-bar
  $side-bar-width: 200px
  .side-bar
    float: left
    width: $side-bar-width
    height: 100%
    background: $nav-bg
    .tweet
      padding: 10px

  // animation
  .fade-out
    -web-kit-animation: fadeOut .5s cubic-bezier(.50, 0, .1, 1) both
    animation: fadeOut .5s cubic-bezier(.55, 0, .1, 1) both
  @-webkit-keyframes fadeOut
    to
      opacity: 0
      -webkit-transform: scale(1.2)
  @keyframes fadeOut
    to
      opacity: 0
      -weight-transform: scale(1.2)
      transform: scale(1.2)

  .fade-in
    -web-kit-animation: fadeIn .5s cubic-bezier(.50, 0, .1, 1) both
    animation: fadeOut .5s cubic-bezier(.55, 0, .1, 1) both
  @-webkit-keyframes fadeOut
    from
      opacity: 0
      -webkit-transform: scale(.8)
  @keyframes fadeOut
    from
      opacity: 0
      -weight-transform: scale(.8)
      transform: scale(.8)

  // container
  .container#pjax-container
    margin-left: $side-bar-width - 10px
    .game
      $game-title-font-size: 26px
      #game-title
        font-size: $game-title-font-size
        padding-bottom: 12px
      .wot
        $signature-size: 468px
        .my-panel-list
          float: none
          font-size: 15px
          margin-right: 10px
          width: $signature-size
          a.my-panel
            padding: 3px
            float: left
            width: $signature-size / 4
            &#head
              background: black
              font-weight: bold
              &:link
                color: white
              &:visited
                color: white
              &:hover
                background: white
                color: black
            &#link
              text-decoration: none
              background: black
              font-weight: bold
              &:link
                color: white
              &:visited
                color: white
              &:hover
                background: white
                color: black

  // iframe
  $default-iframe-width: 700px
  .iframe
    width: $default-iframe-width
    .form-group
      margin: 0px
