.tool
  p
    | 開発中
  script src="/build/script/tool/dpm.js"
  form.for-m-horizontal
    .form-group
      label.col-sm-3.al for="type"
        |砲種
      .type#type
        label.radio-inline.col-sm-2
          input type="radio" name="gun-type" value="normal"
          |Normal
        label.radio-inline.col-sm-2
          input type="radio" name="gun-type" value="auto"
          |AutoLoader
    br
    br
    .form-group
      label.col-sm-3.al for="rof"
        |次弾装填時間(s)
      input.col-sm-4.al#rof type="text" value="10"
    br
    br
    .form-group
      label.col-sm-3 for="reload-time"
        |装填時間(s)
      input.col-sm-4#reload-time type="text" value="10"
    br
    br
    .form-group
      label.col-sm-3 for="ave-dmg"
        |平均ダメージ(dmg)
      input.col-sm-4#avg-dmg type="text" value="200"
    br
    br
    .form-group
      label.col-sm-3 for="skill"
        |装填手スキル(%)
      input.col-sm-4#skill type="text" value="110"
    br
    br
    .form-group
      label.col-sm-3 for="rammer"
        |装填棒(rammer)
      input.col-sm-4#rammer type="checkbox"
    br
    br
    .btn#calc
      |計算
    .result

