/*! my-styile */

$base-bg-color: #636363;
$base-font-color: #ffffff;
$main-width: 960px;

body#base {
  color: $base-font-color;
  background: $base-bg-color;

  // head
  .head {
    width: 100%;
    height: 100px;
    background: white;
  }

  // nav
  $nav-height: 35px;
  $nav-bg: #000000;
  $nav-color: #ffffff;
  .my-nav {
    height: $nav-height;
    width: 100%;
    background: $nav-bg;
    padding-top: 6px;
    .my-nav-btn {
      padding: 10px;
      &:link {
        color: $nav-color;
      }
      &:visited {
        color: $nav-color;
      }
      &:hover {
        background: $nav-color;
        color: $nav-bg;
      }
    }
  }

  // side-bar
  $nav-width: 200px;
  .side-bar {
    float: left;
    width: $nav-width;
    height: 100%;
    background: $nav-bg;
  }
}
